<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Git Testing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>69A758581F61BD7C0037A193</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69A7586C1F61BD7C0037A193</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69A758771F61BD7C0037A193</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
